.carousel-control {
    right: 0;
    bottom: 0;
    &.left {
        right: auto;
        left: 0;
    }
    &.right {
        left: auto;
        right: 0;
    }
    .icon-prev,
    .glyphicon-chevron-left {
        left: 50%;
        right: auto;
        margin-right: -10px;
    }
    .icon-next,
    .glyphicon-chevron-right {
        right: 50%;
        left: auto;
        margin-left: -10px;
    }
}

.carousel-indicators {
    right: 50%;
    left: 0;
    margin-right: -30%;
    margin-left: 0;
    padding-left: 0;
}

@media screen and (min-width: $screen-sm-min) {
    .carousel-control {
        .glyphicon-chevron-left,
        .icon-prev {
            margin-left: 0;
            margin-right: -15px;
        }
        .glyphicon-chevron-right,
        .icon-next {
            margin-left: 0;
            margin-right: -15px;
        }
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px;
    }
}
