.caret {
    margin-right: 2px;
    margin-left: 0;
}

.dropdown-menu {
    right: 0;
    left: auto;
    float: left;
    text-align: right;
    &.pull-right {
        left: 0;
        right: auto;
        float: right;
    }
}

@mixin dropdown-menu-right {
    left: auto;
    right: 0;
}

@mixin dropdown-menu-left {
    left: 0;
    right: auto;
}

@media (min-width: $grid-float-breakpoint) {
    .navbar-right {
        .dropdown-menu {
            @include dropdown-menu-right();
        }
        .dropdown-menu-left {
            @include dropdown-menu-left();
        }
    }
}
