.input-group {
  .form-control {
    float: right;
  }
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  @include border-right-radius($border-radius-base);
  @include border-left-radius(0);
}
.input-group-addon:first-child {
  border-left: 0px;
  border-right: 1px solid $input-group-addon-border-color;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-left-radius($border-radius-base);
  @include border-right-radius(0);
}
.input-group-addon:last-child {
  border-left-width: 1px;
  border-left-style: solid;
  border-right: 0px;
}

.input-group-btn {

  > .btn {
    + .btn {
      margin-right: -1px;
      margin-left: auto;
    }
  }

  &:first-child {
    > .btn,
    > .btn-group {
      margin-left: -1px;
      margin-right: auto;
    }
  }
  &:last-child {
    > .btn,
    > .btn-group {
      margin-right: -1px;
      margin-left: auto;
    }
  }
}
