@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
$font-family-sans-serif:  'Droid Arabic Kufi', Arial, sans-serif !default;
$font-family-serif:       'Droid Arabic Kufi', serif !default;
$font-family-monospace:   'Droid Arabic Kufi', monospace !default;
$font-family-base:        $font-family-sans-serif !default;
