@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
    float: right;
}

@mixin make-xs-column-offset($columns) {
    margin-right: percentage(($columns / $grid-columns));
    margin-left: 0;
}

@mixin make-xs-column-push($columns) {
    right: percentage(($columns / $grid-columns));
    left: auto;
}

@mixin make-xs-column-pull($columns) {
    left: percentage(($columns / $grid-columns));
    right: auto;
}

@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
    @media (min-width: $screen-sm-min) {
        float: right;
    }
}

@mixin make-sm-column-offset($columns) {
    @media (min-width: $screen-sm-min) {
        margin-right: percentage(($columns / $grid-columns));
        margin-left: 0;
    }
}

@mixin make-sm-column-push($columns) {
    @media (min-width: $screen-sm-min) {
        right: percentage(($columns / $grid-columns));
        left: auto;
    }
}

@mixin make-sm-column-pull($columns) {
    @media (min-width: $screen-sm-min) {
        left: percentage(($columns / $grid-columns));
        right: auto;
    }
}

@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
    @media (min-width: $screen-md-min) {
        float: right;
    }
}

@mixin make-md-column-offset($columns) {
    @media (min-width: $screen-md-min) {
        margin-right: percentage(($columns / $grid-columns));
        margin-left: 0;
    }
}

@mixin make-md-column-push($columns) {
    @media (min-width: $screen-md-min) {
        right: percentage(($columns / $grid-columns));
        left: auto;
    }
}

@mixin make-md-column-pull($columns) {
    @media (min-width: $screen-md-min) {
        left: percentage(($columns / $grid-columns));
        right: auto;
    }
}

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
    @media (min-width: $screen-lg-min) {
        float: right;
    }
}

@mixin make-lg-column-offset($columns) {
    @media (min-width: $screen-lg-min) {
        margin-right: percentage(($columns / $grid-columns));
        margin-left: 0;
    }
}

@mixin make-lg-column-push($columns) {
    @media (min-width: $screen-lg-min) {
        right: percentage(($columns / $grid-columns));
        left: auto;
    }
}

@mixin make-lg-column-pull($columns) {
    @media (min-width: $screen-lg-min) {
         left: percentage(($columns / $grid-columns));
        right: auto;
    }
}
